.articles {
  width: 100%;
  height: 750px;
}

.article { 
  width: 100%; 
  height: auto; 
  background-color: #fff; 
  margin-top: 10px; 
  box-sizing: border-box;
  line-height: 30px;
  border: 1px solid rgba(194, 194, 194, 0.5);
  box-shadow: 0px 3px 5px rgba(194, 194, 194, 0.8);
}

.article:hover {
  box-shadow: 0px 3px 20px rgba(194, 194, 194, 1);
}

.article-header { 
  font-weight: normal; 
  font-size: 18px; 
  cursor: pointer; 
  color: #64B0DC; 
  padding: 20px 20px 0 20px; 
}

.article-content {
  display: -webkit-box;
  overflow: hidden;  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Microsoft YaHei", "hiragino sans gb", 黑体, 宋体, Arial, "Lucida Grande", Tahoma, sans-serif; 
  font-size: 13px;
  color: #999; 
  padding: 0 20px; 
}

.article-footer {
  padding: 15px 0px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
  text-shadow: 0 1px 0 #fff;
  color: #999;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
