.container {
  width: 40%;
  margin: 0 auto;
}

.title {
  color: #409bcf;
  font-size: 30px;
  line-height: 50px;
  text-indent: 20px;
}


@media screen and (max-width: 1000px) {
  body {
    padding: 20px;
  }

  .container {
    width: 100%;
  }
}