* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

ul, li { 
  list-style-type: none; 
}

body {
  padding: 40px 50px 40px;
  box-sizing: border-box;
  font-family: PingFont_Light, Helvetica, 微软雅黑, Arial, sans-serif;
  background-color: #efefef;
}